@charset "UTF-8";
/* PC表示 */
@media (min-width: 1201px) {
  .openbtn{
    display: none;
  }
}
/* スマホ・タブレット共通表示 */
@media (max-width: 1200px) {
  /* ヘッダーナビ */
  .nav_header {
    position:fixed;
    z-index: 9998;
    top:-120%;
    left:0;
  	width:100%;
    height: 100vh;
    background:#fff;
    transition: all 0.6s;
  }
  .nav_header.panelactive {
    top: 0;
  }
  .nav_header.panelactive .list_nav_header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .list_nav_header{
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .list_nav_header > li {
    list-style: none;
    text-align: center;
  }
  .list_nav_header a {
    color: #333;
  	text-decoration: none;
  	padding:10px;
  	display: block;
  	text-transform: uppercase;
  	letter-spacing: 0.1em;
  	font-weight: bold;
  }
  .area_top_view {
    width: 100%;
  }

}
/* タブレット表示 */
@media (max-width: 1200px) and (min-width: 768px) {
  .container{
    width: 95vh;
    max-width: 100%;
    padding: 0 auto;
    margin: 0 auto;
  }
  .full-slider-item {
    width: 100%;
    height: 50vh;
  }
  .list_service {
    max-width: 100%;
    margin: auto;
  }
}
/* スマホ表示 */
@media (max-width: 767px) {
  .container{
    width: 95vh;
    padding: 0 auto;
    margin: 0 auto;
  }
  .area_top_view{
    display: none;
  }
  .area_top_view_rp{
    display: block;
  }
  .full-slider-item {
    width: 100%;
    height: 75vh;
  }
  /* ヘッド */
  .head_index {
    margin: 0 0 7vh;
    display: flex;
    justify-content: center;
  }
  .head_index .ttl {
    font: 500 5.5vh/1em 'futura PT','noto sans japanese',sans-serif;
    padding: 0 0 10px;
    position: relative;
  }
  .head_index .ttl:after {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background: #F4B77E;
    position: absolute;
    bottom: 0;
    left: 0;
  }
/* サービス */
  .list_service {
    flex-direction: column;
    align-items: center;
    margin: -10vh 0;
  }
  .list_service > li {
    width: 80%;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* プロフィール */
  .layout_2_div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -4vh auto;
  }
  .layout_2_div > div {
    width: 100%;
    padding: 4vh 0;
  }
  .text_index .name {
    font: bold 3.1vh/1em 'futura PT','noto sans japanese',sans-serif;
    text-align: center;
    margin: 0 0 3vh;
  }
  .text_index .description {
    font: 300 2.8vh/1em 'futura PT','noto sans japanese',sans-serif;
    line-height: 1.5em;
  }
  .area_index_profile .img{
    text-align: center;
  }
  .area_index_profile img {
    max-width: 75%;
    border: 1px solid #707070;
    border-radius: 100%;
  }
  /* SNSリスト */
  .list_sns a {
    display: block;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 1.6vh 0.6vh -0.8vh rgba(16,61,72,.2);
  }
  .list_sns a:before {
    content: "";
    display: block;
    width: 5vh;
    height: 5vh;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
  }

  /* フォーム */
  .contact_input{
    width:80%;
  }
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 80%;
    text-align: center;
  }
}
